body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.info-tooltip-container {
  position: relative;
  margin-left: 6px;
  cursor: pointer;
  display: inline-block;
}

.info-tooltip-text {
  visibility: hidden;
  opacity: 0;
  width: 240px;
  background-color: #111;
  color: #fff;
  text-align: left;
  padding: 8px;
  border-radius: 6px;
  position: absolute;
  z-index: 10;
  top: 125%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  transition: opacity 0.2s ease;
}

.info-tooltip-container:hover .info-tooltip-text {
  visibility: visible;
  opacity: 1;
}
